/*
	style.css for index.html & youkoso.html
*/

@font-face {
	font-family: "Google Sans";
	src: url("https://jpa102.github.io/youkoso_rsrc/google-sans_regular.ttf");
}

#topbar::-webkit-scrollbar {
	display: none;
}

@media (min-width:112px) and (max-width:442px) {
	body {
		padding: 30px 12px !important;
	}
}



/*
	dark mode css
*/
html[data-theme-display='dark'] body {
	background: rgb(90, 18, 136);
}

html[data-theme-display='dark'] .hey-where-did-you-get-that-body-from {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] .sidebar-icon {
	fill: white;
}

html[data-theme-display='dark'] a {
	color: rgb(62, 166, 255);
}

html[data-theme-display='dark'] #app-title-text,
html[data-theme-display='dark'] #h1-title,
html[data-theme-display='dark'] .p-title {
	color: white;
}

html[data-theme-display='dark'] .paragraph-text {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] ul,
html[data-theme-display='dark'] ol {
	color: lightgray;
}

html[data-theme-display='dark'] i {
	color: lightsalmon;
}

html[data-theme-display='dark'] code {
	color: white;
	background: rgba(255, 255, 255, 0.2);
}



/*
	light mode css
*/
code {
	font-family: consolas, monospace !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.2);
	padding: 0px 6px;
}

body {
	background: rgb(54, 200, 255);
	padding: 30px;
}

#topbar {
	border-radius: 100px;
	flex-direction: unset;
	overflow-x: scroll;
}

.topbar-link-renderer {
	padding: 6px 12px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.2);
	margin-right: 8px;
	white-space: nowrap;
}

.topbar-link-renderer-content {
	font-family: google sans;
	text-decoration: unset;
}

.hey-where-did-you-get-that-body-from {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	background: rgba(0,0,0,0.08);
}

#h1-title {
	font-family: google sans;
}

.p-title {
	font-family: google sans;
}

.center-text-content {
	text-align: center;
}
