/*
	ui_components.css

	this is where all ui related css code can be found and managed
*/



.touch-by-touch {
	background-color: transparent;
	border: 1px solid transparent;
	transition: border .25s cubic-bezier(.4, 0, .2, 1);
}

.touch-by-touch:active {
	background-color: rgb(0, 0, 0, 0.1);
	border: 1px solid rgb(0, 0, 0, 0.1);
	transition: background .1s cubic-bezier(.4, 0, .2, 1);
}

.margin-top-videos-skeleton {
	margin-top: var(--video-player-margin-left);
}

.loading-video-skeleton {
	display: flex;
	flex-direction: column;
	margin: 16px 0 0;
}

.loading-video-thumbnails {
	margin-bottom: 14px;
	background: var(--thumbnail-loading-skeleton);
	aspect-ratio: var(--aspect-ratio-for-player);
}

.author-image-and-video-details-skeleton {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px var(--video-player-margin-left);
}

.img-author-skeleton {
	background: var(--thumbnail-loading-skeleton);
	width: 32px;
	height: 32px;
	border-radius: 20px;
}

.video-details-skeleton {
	padding-left: 14px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.video-title-skeleton {
	width: 169% !important;
}

.video-title-skeleton, .video-author-skeleton {
	background: var(--thumbnail-loading-skeleton);
	width: 169px;
	height: 13px;
	border-radius: 2px;
}

.shorts-skeleton-container-carousel {
	display: flex;
	margin: 16px var(--video-player-margin-left) 0px;
	overflow-x: scroll;
}

.shorts-skeleton {
	background: var(--thumbnail-loading-skeleton);
	margin-right: var(--video-player-margin-left);
	aspect-ratio: 9 / 16;
	height: 296px;
}

#comment-field {
	border: 1px solid transparent;
	background: var(--light-mode-dark-color);
	/* background: transparent; */
	padding: 7px 9px;
	border-radius: 3px;
	width: -webkit-fill-available;
	width: -moz-available;
}

#all-buttons-container {
	display: flex;
	justify-content: flex-end;
	gap: var(--video-player-menu-buttons-gap-size);
}

#menu {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: center;
	-webkit-box-pack: start;
	-ma-overflow-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	justify-content: start;
	white-space: nowrap;
	padding: 0px 15px 0px;
	scrollbar-width: none;
}

.menu-buttons-actions {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 10px 3px;
}

.menu-buttons {
	border: 1px solid rgb(0 0 0 / 0%);
	border-radius: 100px;
	background: none;
	width: 3.8rem;
	transition: border .25s cubic-bezier(.4, 0, .2, 1);
}

.menu-buttons:hover {
	cursor: pointer;
}

.menu-buttons:active {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
	transition: background .1s cubic-bezier(.4, 0, .2, 1);
}

.inner-button-icons {
	width: var(--inner-button-icons-size);
	height: var(--inner-button-icons-size);
	margin-bottom: 6px;
}

.menu-buttons-text {
	font-size: var(--video-player-menu-buttons-text-size);
	font-family: Arial, sans-serif;
	text-transform: capitalize;
	min-width: 35px;
	min-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.grouped-items-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 24px 0px 16px;
	align-items: center;
}

.grouped-text-renderer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	width: -webkit-fill-available;
}

.grouped-text-renderer-title {
	font-weight: 500;
	font-size: 11px;
}

#channel-buttons-container {
	display: flex;
	margin: 6px 14px;
	gap: 6px;
}

.transparent-button-with-border {
	display: flex;
	align-items: center;
	padding: 10px 14px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	text-transform: uppercase;
	justify-content: center;
}

a.transparent-button-with-border {
	color: unset;
	text-decoration: unset;
	padding: 6px 14px;
	width: -webkit-fill-available;
	width: -moz-available;
}

a.transparent-button-with-border > span {
	text-transform: uppercase;
}

.engagement-panel-drag-line-margin-top {
	padding-bottom: 8px;
}

.engagement-panel-drag-line {
	background: rgba(15, 15, 15, 0.15); /* originally #0f0f0f */
	border-radius: 4px;
	height: 4px;
	margin: 0 auto;
	width: 40px;
}

#transcript-container, #more-from-author-container {
	display: flex;
	flex-direction: column;
	margin: 0px 4px;
}

#show-transcript-button {
	border-color: var(--call-to-action-color-light);
	color: var(--call-to-action-color-light);
	margin: 14px;
}

.hide-button-style {
	padding: 6px;
	background: transparent;
	border: 1px solid transparent;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 100px;
}

.subpage-button-icon {
	width: 24px;
	height: 22px;
}

.caption-and-exit-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#description-caption-and-exit-button.caption-and-exit-button,
#transcripts-caption-and-exit-button.caption-and-exit-button,
#internal-functions-caption-and-exit-button.caption-and-exit-button {
	padding: 6px 0px;
}

#internet-status-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	transition: 0.5s ease-in-out;
}

#status-text {
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	justify-content: center;
	background: #171717;
	color: white;
}

#border-top-metadata {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* margin: 4px 0px 4px 0px; */
}

#border-bottom-metadata {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* margin: 4px 0px 4px 0px; */
}

#thick-border {
	border: 4px solid rgba(0, 0, 0, 0.1);
}

.background-subpage-layer-one {
	background: var(--subpage-background-color);
}

.background-subpage-layer-two {
	background: var(--main-background-color);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.subpage-text-container {
	margin: 20px 14px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
}

.intfuncs-text-style {
	white-space: unset;
	gap: 12px;
	display: flex;
	flex-direction: column;
}

.intfuncs-text-function-renderer {
	width: fit-content;
}

.nullo {
	padding: 32px 0px 32px 0px;
}
