/*
  style.css for youkoso.html
*/

@font-face {
  font-family: "Google Sans";
  src: url("https://jpa102.github.io/youkoso_rsrc/google-sans_regular.ttf");
}

#h1-title {
  font-family: google sans;
}

#p-title {
  font-family: google sans;
}
