/*
	style.css for youkoso.html
*/

@font-face {
	font-family: "Google Sans";
	src: url("https://jpa102.github.io/youkoso_rsrc/google-sans_regular.ttf");
}

:root {
	--main-body-color: #36c8ff;
}

body {
	background: var(--main-body-color);
	padding: 25px;
}

#hey-where-did-you-get-that-body-from {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	border-radius: 20px;
	background: rgba(0,0,0,0.08);
}

#h1-title {
	font-family: google sans;
}

#p-title {
	font-family: google sans;
}

#p-text {
	margin: 10px 0px;
	font-family: google sans;
}

.links-container {
	display: flex;
	flex-direction: column;
}

#links-content-separator {
	margin: 6px 0px;
}

#links-content-separator-two {
	margin: 12px 0px;
}

.button-styled-container {
	padding: 8px 16px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

