/*
	style.css for index.html ( /faketube directory )
*/

@font-face {
	font-family: "Google Sans";
	src: url("https://jpa102.github.io/youkoso_rsrc/google-sans_regular.ttf");
}

:root {
	--main-body-color: #36c8ff;
	--padding-one: 25px;
}

* {
	font-family: google sans;
}

code {
	font-family: monospace !important;
}



/*
	dark mode css
*/
html[data-theme-display='dark'] body {
	background: navy;
}

html[data-theme-display='dark'] #hey-where-did-you-get-that-body-from {
	background: rgba(255, 255, 255, 0.2);
}

html[data-theme-display='dark'] .h1-title {
	color: white;
	font-weight: 500;
}

html[data-theme-display='dark'] .h1-title-border {
	border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

html[data-theme-display='dark'] .p-title, html[data-theme-display='dark']  .p-text {
	color: lightgray;
}

html[data-theme-display='dark'] .button-styled-container {
	color: var(--main-body-color);
}



/*
	light mode css
*/
body {
	background: var(--main-body-color);
	padding: var(--padding-one);
}

#hey-where-did-you-get-that-body-from {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-one);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.08);
}

.p-text {
	margin: 10px 0px;
}

.links-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.links-container > span {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

#links-content-separator-two {
	margin: 12px 0px;
}

.button-styled-container {
	padding: 8px 16px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	text-decoration: none;
	transition: .2s ease-in-out;
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: fit-content;
}

.button-styled-container:active {
	background: rgba(0, 0, 0, 0.1);
	transition: .2s ease-in-out;
}
