/*
	Main HTML design
*/

:root {
	--alternate-topbar-background-color: rgb(0 0 0 / 8%);
	--topbar-background-color: rgb(0 178 245);
	--sidebar-background-color: rgb(115 217 255);
	--main-body-background-color: rgb(54 200 255);
	--background-dark-color: rgba(0,0,0,0.08);
	--background-slightly-darker-color: rgba(0,0,0,0.12);
	--buttons-pressed-color: rgba(0,0,0,0.16);
}

@font-face {
	font-family: "Google Sans";
	src: url("google-sans_regular.ttf");
}



/*
	dark mode css
*/

html[data-theme-display='dark'] body {
	background: rgb(90, 18, 136);
}

html[data-theme-display='dark'] #topbar {
	background: rgb(90, 18, 136);
}

html[data-theme-display='dark'] .sidebar-icon {
	fill: white;
}

html[data-theme-display='dark'] .container {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] a {
	color: rgb(62, 166, 255);
}

html[data-theme-display='dark'] .sidenav {
	background: rgb(117, 27, 175);
}

html[data-theme-display='dark'] .sidenav a:hover {
	color: rgb(54, 200, 255);
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] .sidenav a:active {
	background: rgba(255, 255, 55, 0.2);
	color: white;
}

html[data-theme-display='dark'] .border-bottom {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] #app-title-text,
html[data-theme-display='dark'] .header-text,
html[data-theme-display='dark'] .paragraph-text {
	color: white;
}

html[data-theme-display='dark'] .paragraph-text {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='dark'] ul,
html[data-theme-display='dark'] ol {
	color: lightgray;
}

html[data-theme-display='dark'] i {
	color: lightsalmon;
}

html[data-theme-display='dark'] code {
	color: white;
	background: rgba(255, 255, 255, 0.2);
}



/*
	black hole css
*/

html[data-theme-display='blackhole'] body {
	background: rgb(0, 0, 0);
}

html[data-theme-display='blackhole'] #topbar {
	background: rgb(0, 0, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme-display='blackhole'] .sidebar-icon {
	fill: white;
}

html[data-theme-display='blackhole'] .container {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='blackhole'] a {
	color: rgb(62, 166, 255);
}

html[data-theme-display='blackhole'] .sidenav {
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
}

html[data-theme-display='blackholek'] .sidenav a:hover {
	color: rgb(54, 200, 255);
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='blackhole'] .sidenav a:active {
	background: rgba(255, 255, 55, 0.2);
	color: white;
}

html[data-theme-display='blackhole'] .border-bottom {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme-display='blackhole'] #app-title-text,
html[data-theme-display='blackhole'] .header-text,
html[data-theme-display='blackhole'] .paragraph-text {
	color: white;
}

html[data-theme-display='blackhole'] .paragraph-text {
	background: rgba(255, 255, 255, 0.1);
}

html[data-theme-display='blackhole'] ul,
html[data-theme-display='blackhole'] ol {
	color: lightgray;
}

html[data-theme-display='blackhole'] i {
	color: lightsalmon;
}

html[data-theme-display='blackhole'] code {
	color: white;
	background: rgba(255, 255, 255, 0.2);
}



/*
	light mode css
*/
body {
	background-color: var(--main-body-background-color);
	margin: unset;
	transition: 0.5s;
}

#topbar {
	position: fixed;
	width: -webkit-fill-available;
	background: var(--topbar-background-color);
	padding: 10px 0px;
	box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 30%);
	transition: 0.5s;
}

.container {
	padding: 20px;
	border-radius: 20px;
	background: var(--background-dark-color);
	width: -webkit-fill-available;
}

.link-container {
	text-decoration: unset;
}

.page {
	padding: 69px 0px 0px 0px;
	transition: ease-in-out .3s;
}

#sidebar-button-and-app-name-title {
	display: flex;
}

#sidebar-button {
	margin-left: 14px;
	background: none;
	border: 0px;
	border-radius: 40px;
	transition: ease-in-out .1s;
}

#sidebar-button:hover {
	cursor: pointer;
}

#sidebar-button:active {
	background: var(--buttons-pressed-color);
}

.sidebar-icon {
	width: 24px;
	height: 24px;
	/* fill: white; */
}

#app-title-text {
	font-size: 20px;
	/* color: white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.selected {
	background: rgba(0, 0, 0, 0.08);
}

#body-container {
	margin: 20px;
	padding: 8px;
	row-gap: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.headline-text {
	text-align: center;
}

#paragraph-text {
	font-size: 16px;
}

.header-text {
	font-size: 24px;
	font-weight: bold;
}

.action-buttons {
	padding: 8px 10px;
	margin: 0px 6px;
	border-radius: 20px;
	border: unset;
	background: var(--background-dark-color);
	transition: ease-in-out .3s;
}

.action-buttons:hover {
	cursor: pointer;
}

.action-buttons:active {
	background: var(--background-slightly-darker-color) !important;
	transition: ease-in-out .3s;
}

/* sidebar source: https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--sidebar-background-color);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 48px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: Google Sans;
}

.sidenav a:hover {
	color: black;
	text-decoration: underline;
	background: var(--background-slightly-darker-color);
	transition: 0.3s;
}

.sidenav a:active {
	color: white;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 12px 0px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}



/*
	==============================================
			fonts
	==============================================
*/

* {
	font-family: Google Sans;
}

h2 {
	margin: unset;
}
