* {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box; 
}

.about {
    position: static;
    width: 100%;
    padding: 78px 0;
    overflow: hidden;
    background-color: transparent;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1; 
}



.about img{
    height: auto;
    width: 420px;
    border-radius: 5px;
}

.about-text {
    width: 550px;
}

.main  {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about h5 {
    color: rgb(0, 255, 149);
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

span {
    color: #fbff00;
}

button {
    background: #fbff00;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    bottom: 20px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #fbff00;
    cursor: pointer;
    color: #fcfcfc;
}

.slideshow {
    position: relative;
    width: 420px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.slideshow-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 1s;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}