@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.order-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000rem;
}

h1 {
    text-align: center;
    color: #333;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    
}

.orderList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    margin-top: 2rem;
}

.item {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 180px;
    padding: 0;
}

label {
    text-align: center;
    font-size: 16px;
    color: #333;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
}

#total {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #f0f8ff;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #218838;
}
